<h1>Reddit</h1>
<% if @posts.any? %>
	<% @posts.each do |post| %>
		<%= link_to post.title, post.url %>
		<%= "Posted by #{post.user.email}"%>
		<% if post.categories.all.any? %>
			categories: 
			<% post.categories.all.each do |category| %>
				<%= "#{category.name} "%>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<p>No posts have been added</p>
<% end %>
<%= link_to 'New post', new_post_path %>