<h1>Reddit</h1>
<% if @posts.any? %>
	<% @posts.each do |post| %>
		<%= link_to post.title, post.url %>
	<% end %>
<% else %>
	<p>No posts have been added</p>
	<%= link_to 'New post', new_post_path %>
<% end %>
