/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 60px;
}

.btn-primary {
	margin: auto 5px;
}

.btn-top {
	margin-left: 10px;
	margin-top: 8px;
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: white;
} 

.btn-danger {
	margin-left: 10px;
	margin-top: 8px;
}

.navbar-brand {
	font-size: 30px;
}

.remember_me_label {
	color: white;
}